<h1>Sign Up!</h1>
<div id="signup">
  <%= f = form_for @changeset, "#" %>

    <div class="field">
      <%= text_input f, :name, placeholder: "Name" %>
      <%= error_tag f, :name %>
    </div>

    <div class="field">
      <%= email_input f, :email, placeholder: "Email" %>
      <%= error_tag f, :phone %>
    </div>

    <%= submit "Sign Up" %>
  </form>
</div>
